<div class="container">
  <div class="row my-3">
    <div class="col">
      <h1 class="text-center text-muted">Have An Account</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-8">
      <form [formGroup]="signUpForm" (ngSubmit)="OnSubmit()">
        <app-input
          [control]="signUpForm.get('name')"
          label="User Name"
          type="text"
          placeholder=""
        ></app-input>

        <app-input
          [control]="signUpForm.get('password')"
          label="Password"
          type="password"
          placeholder=""
        ></app-input>
        <app-input
          [control]="signUpForm.get('ConfirmPassword')"
          label="Confirm Password"
          type="password"
          placeholder=""
        ></app-input>
        <ng-container
        *ngIf="
          signUpForm.get('password').touched &&
          signUpForm.get('ConfirmPassword').touched &&
          signUpForm.errors
        "
      >
        <p
          [ngClass]="{
            errorRedClass:
              signUpForm.invalid && signUpForm.errors?.passwordDontMatch
          }"
          *ngIf="signUpForm.errors.passwordDontMatch"
        >
          Passwords Dont Match... Try Again
        </p>
      </ng-container>
      
        <app-input
          [control]="signUpForm.get('email')"
          label="Email"
          type="text"
          placeholder=""
        ></app-input>
        <div class="alert-danger" *ngIf="signUpForm.get('email').errors?.existingEmail">
          <p class="m-0">
            Email is exists.
          </p>
        </div>


        <div class="d-flex">
          <div class="form-group" *ngFor="let gender of genders; let i = index">
            <label class="label m-2" [for]="gender.label + i">{{
              gender.label
            }}</label>
            <input
              type="radio"
              [id]="gender.label + i"
              [value]="gender.value"
              name="gender"
              (change)="signUpForm.get('gender').setValue(gender.value)"
            />
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary" type="submit">
            Submit
          </button>
          <button
            (click)="onClickReset()"
            class="btn btn-danger m-1"
            type="button"
          >
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
  <hr />
  <div class="d-flex justify-content-center font-weigth-bold">
    <p class="mr-3 lead">AlREADY HAVE AN ACCOUNT</p>
    <a routerLink="../signIn" class="lead"> SIGN IN</a>
  </div>
</div>
{{ signUpForm.errors }}
{{ signUpForm.valid }}
